.title {
    text-align: center;
    padding: 20px 0 20px;
    border-bottom: solid;
}
.container {
    width: 600px;
}
.countries-content {
    width: 1000px;
    margin: auto;
}
.country-detail {
    width: 500px;
    margin: auto;
}
.country-detail .title {
    font-size: 50px;
}