<div class="country-detail">
    <div class="title"> {{country.countryName}}</div>
    <ul>Population: {{country.population | number}}</ul>
    <ul>Area: {{country.areaInSqKm | number}}</ul>
    <ul>Capital: {{country.capital}}</ul>
    <ul>Population of Capital: {{capitalPopulation | number}}</ul>
    <ul>{{count}} Neighbors:
    <span ng-repeat="neighbor in neighbors">
        <a ng-href="#countries/{{neighbor.countryCode | uppercase }}"> {{ neighbor.countryName}} | </a></span>
    </ul>
    <div class="images">
        <img id='country-img' src="http://www.geonames.org/img/country/250/{{country.countryCode}}.png" />
        <img id='flag-img' src="http://www.geonames.org/flags/x/{{country.countryCode | lowercase}}.gif" />
    </div>
    <br><br>
    <div class="buttons">
        <a href="#/"><button class="button">Home</button></a>
        <a href="#/countries"><button type="submit" class="button" name="submit">Browse Countries</button></a>
    </div>
</div>
